<form {{action 'addNewTeacher' on='submit'}}>
  {{input value=newTeacher.name placeholder="Teacher name"}}
  {{textarea value=newTeacher.description}}
  <button class="button" type="submit">Add new</button>
</form>