{{#if events.length}}
    <ul class="events_list">
        {{#each events as |event|}}
          <li>
              <a href="{{event.link}}">{{event.title}}</a>
              <!--<button class="button-edit">Edit</button>-->
          </li>
      {{/each}}
    </ul>
{{/if}}
