<div class="modal modal-large">
    <h1>Create account</h1>
    <form action="" method="post" class="form-login">
        <label for="name">Name</label>
        <input type="text" id="name">
        <label for="email">Email</label>
        <input type="text" id="email">
        <label for="phone">Phone</label>
        <input type="text" id="phone">
        <label for="login">Login</label>
        <input type="text" id="login">
        <label for="password">Password</label>
        <input type="password" id="password">
        <button {{action 'doSignup'}}>Sign up</button>
    </form>
    {{yield}}
</div>
