<div class="modal">
    <h1>Event was successfully created</h1>
    <p>Share following link so people can register to your event</p>
    <a href="/register/event/{{eventId}}" target=_blank">/register/event/{{eventId}}</a>
    <button class="button" {{action 'onclose'}}>Got it</button>
    {{yield}}
</div>
