<div class="modal">
    <h1>Event was successfully created</h1>
    <p>Share following link so people can register to your event</p>
    <p>/events/{{eventId}}</p>
    <button {{action 'onclose'}}>Got it</button>
    {{yield}}
</div>
