<ul class="teachers-list">
  {{#each teachers as |teacher|}}
    <li>
        <div class="teacher-name">{{teacher.name}}</div>
        <div class="teacher-description">{{teacher.description}}</div>
    </li>
  {{/each}}
</ul>