.banner {
  padding: 11em 2em;
  text-align: center;
  background: $primary-color;
  color: #fff;

  p {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1.5;
  }

  input[type="text"] {
    border-color: #fff;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
  }

  input[type="text"]:focus {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  ::-webkit-input-placeholder {
    color: #fff;
  }
  ::-moz-placeholder {
    color: #fff;
  }
  :-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
}

.banner-thin {
  padding: 6rem 2rem 2rem;
}

@media (min-width: 768px) {
  .banner-thin {
    padding: 6.5rem 2rem 1rem;
  }
}