.header {
  min-height: 60px;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 0.15em;

  .header_menu {
    float: left;

    a {
      display: inline-block;
      line-height: 44px;
      color: #fff;
      margin-right: 1em;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .header_buttons {
    text-align: right;
  }

  .button {
    padding: 0 10px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-block;
    cursor: pointer;
    margin-left: 1em;
    line-height: 40px;
  }

  .button:first-child {
    margin-left: 0;
  }

  .button:hover {
    background: rgba(0,0,0,0.2);
  }
}


@media (min-width: 768px) {
  .header {
    padding: 1rem;
  }
}