body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #ED5D40;
}

a:hover {
  text-decoration: underline;
}

section {

}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

input[type='text'], input[type='date'], input[type='time'], input[type='email'], input[type='tel'] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
}

textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
}

.glyphicon-triangle-bottom:before {
  //content: "\e252";
  content: "\25BC";
}
.glyphicon-triangle-top:before {
  //content: "\e253";
  content: "\25B2";
}

