
<header class="header">
    <a href="index.html" class="logo">Eventbook</a>
    <div>
        <a href="login.html" class="button">Log in</a>
        <a href="signup.html" class="button">Sign up</a>
    </div>
</header>

{{outlet}}

<footer class="footer">&copy; 2016</footer>
