<main class="main">
    <div class="wrapper">
        <h1>Dashboard</h1>
        <h3>Hello, Sam</h3>
        <p>Your events</p>
        <ul>
            <li><a href="#">Managers seminar</a></li>
            <li><a href="#">Git best practicies</a></li>
            <li><a href="#">Npm for beginners</a></li>
        </ul>

        <br>
        <div>
            {{dashboard/users-list}}
        </div>
    </div>
</main>