<main class="main">
    <div class="wrapper">
        <h1>Eventbook</h1>
        <h3>Making registration easier</h3>
        <p>This service provides easy and pretty UI for events' organizers to create their events, registration form for it, management features and analytics.</p>
        <p>Cool registration form let any person to register to chosen event easy and fast.</p>
        <p>If you want to create your event, you should be registered in this service.</p>
        <p>To create new event, please, Log in to your admin page.</p>
    </div>
</main>