<section class="banner">
    <div class="wrapper">
        <h1>Eventbook</h1>
        <p>Making events registration process easier</p>
    </div>
</section>
<section class="step">
    <div class="step_image">
        <img src="assets/images/signup-form.jpg" alt="image">
    </div>
    <div class="step_text">
        <h4>Sign up</h4>
        <p>Register on website to have your account.</p>
    </div>
</section>
<section class="step">
    <div class="step_image order2">
        <img src="assets/images/create-event.jpg" alt="image">
    </div>
    <div class="step_text order1">
        <h4>Create new event</h4>
        <p>Fill in all information about your upcoming event to form on your admin page.</p>
    </div>
</section>
<section class="step">
    <div class="step_image">
        <img src="assets/images/share-link.jpg" alt="image">
    </div>
    <div class="step_text">
        <h4>Share link</h4>
        <p>Generate link to registration page and share it all over your network.</p>
    </div>
</section>